# AI API configuration
ANTHROPIC_API_KEY="sk-ant-xxx"
# GOOGLE_GENAI_USE_VERTEXAI=0
# GOOGLE_API_KEY=xxx
# OPENAI_API_KEY="sk-proj-xxxx"

# Tavily configuration
TAVILY_API_KEY="tvly-dev-xxx"

# To separate your traces from other application
LANGSMITH_PROJECT="movie-catalog-agent"
LANGSMITH_API_KEY="lsv2_pt_xxxxx"